{
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "ecmaFeatures": {
    "blockBindings": true
  },
  "globals": {

  },
  "rules": {
    "no-unused-vars": 2,
    "no-undef": 2
  }
}

