@import 'reset';

.app-wrapper {
  width: 720px;
  margin: 0 auto;
  height: 100vh;
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 20px;

  header {
    h1 {
      font-family: 'Open Sans', 'Helvetica Nueue', Helvetica, Arial, sans-serif;
      font-size: 2rem;
      font-weight: 300;
      line-height: 2.8rem;
    }
  }

  .configs {
    border: 1px solid #ccc;
    border-radius: 0.275rem;
    background-color: #efefef;
    padding: 15px;

    pre {
      line-height: 1.2;
      font-family: monospace;
      font-size: 0.9rem;
      color: #444;
    }
  }
}
